.App {
  display: flex;
}

.leftcontainer{
  width: 50%;
   background-color: lightslategray;
   height: 50vh;
}
.rightcontainer{
  width: 50%;
 
 
}

.family{
  height: 50%;
  display: flex;
  background-color:darkgray;
  justify-content: center; 
  padding-top: 5em;
  padding-bottom: 5em;
 padding-left: 15em;
}
.familytree{
  display: flex;
  justify-content: center;
  background-color: lightyellow !important;
}
